.setup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
}
.input-form{
    display: flex;
    flex-direction: column;
}

.input-form input{
    margin: 5%;
    scale: 1.25;
}

.button-row{
    display: flex;
}

.button-row button{
    margin: 5%;
}