.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 5px;
}
.folder-selector{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  flex: 1 1 40%;

  border-right: 2px solid black;
}
.upload-history{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  flex: 1 1 60%;
}

.app p{
  margin: 0px;
}


